
<div class="btn-group">
  <a class="btn btn-sm btn-outline-primary" data-act="edit" data-id="{{id}}">Editar</a>
  <button class="btn btn-sm btn-outline-danger" data-act="delete" data-id="{{id}}">Excluir</button>
</div>
